<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="petStore" class="jpetstore.domain.logic.PetStoreImpl">
		<property name="accountDao">
			<ref bean="accountDao" />
		</property>
		<property name="categoryDao">
			<ref bean="categoryDao" />
		</property>
		<property name="productDao">
			<ref bean="productDao" />
		</property>
		<property name="itemDao">
			<ref bean="itemDao" />
		</property>
		<property name="orderDao">
			<ref bean="orderDao" />
		</property>
	</bean>

</beans>
